@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap');

* {
    padding: 0;
    margin: 0;
}
.vertical{
    
    border-left: 2px solid black;
    height: 70px;
    position:absolute;
    top:620px;
    left:1371px;
   
}
.long-arrow-right{
    position: absolute;
    top:630px;
    left:1359px;
    display: block;
    margin: 30px auto;
    width: 25px;
    height: 25px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    transform: rotate(223deg);
}
body {
    background-color: #f5f2f0;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
    height: 20vh;
    align-items: center;
}

.nav-bar .logo img {
    width: 100px;
}

.nav-bar .item-lists {
    list-style-type: none;
    display: flex;
    gap: 80px;
    font-size: 13px;
    color: #868686;
    align-items: center;
    position: relative;
}

.nav-bar .item-lists .item-list {
    cursor: pointer;
}

.nav-bar .item-lists .item-list:nth-child(2) {
    color: #000000;
    font-size: 14px;
}

.line {
    position: absolute;
    left: -350px;
    width: 68%;
    border-radius: 40px;
    height: 1.7px;
    background-color: #333333;
}


/*--------------------- left image section ------------------*/
.main-section{
    display:flex;

}
.main-section .left-section
{
    width: 35vw;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 35vw;
    z-index: -1;
}
.main-section .left-section img{
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    object-fit: cover;
    left: 0;
    bottom: 0; 
}
/* main {
    display: flex;
}

.left-image-container {
    width: 35vw;
}

.left-image-container .left-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 35vw;
    z-index: -1;
}

.left-image-container .left-image img {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    object-fit: cover;
    left: 0;
    bottom: 0;
} */

/*----------------------- right section --------------------*/

.right-section{
    display: flex;
    position: relative;
    width: 60vw;
}

/* .right-container {
    display: flex;
    position: relative;
    width: 60vw;
} */

.heading-title {
    position: absolute;
    left: 85%;
    top: -40px;
}

.heading-title h1 {
  
    font-size: 7rem;
    font-weight: 900;
    color: #333333;
}

.heading-title>h1 {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.heading-title>h1::after {
    content: "";
    width: 50px;
    height: 12px;
    display: inline-block;
    border: 2px solid #898888;
    margin-bottom: 25px;
}

.heading-title div {
    margin-left: 110px;
    margin-top: -60px;
    color: #333333;
    display: flex;
    align-items: center;

}

.heading-title >div >p {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 30px;
    color: #898888;
    padding-left: 40px;
    padding-top: 30px;
   

}

/* .heading-title div h1::after {
    content: "";
    width: 22px;
    height: 22px;
    background-color: #333333;
    display: inline-block;
    border-radius: 50px;
} */

.right-section .btn-wrapper {
    position: absolute;
    right: 0;
    bottom: -70px;
    right: 90px;
}

.right-section .btn-wrapper button {
    background-color: #333333;
    color: #FFFFFF;
    padding: 17px 48px;
    border: none;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
}

.social-icons {
    position: absolute;
    right: 45px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    top: 150px;
}

.social-icons img {
    width: 20px;
}

.social-icons img:nth-child(2) {
    width: 16px;
}

.social-icons img:nth-child(3) {
    width: 12px;
}

.social-icons img:nth-child(4) {
    width: 16px;
}

/* bottom  section */
.bottom-corner-list {
    position: absolute;
    top: 550px;
    left: 660px;
}

.bottom-corner-list ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.bottom-corner-list ul li {
    font-size: 1rem;
    list-style-type: none;
    color: #868686;
    display: flex;
    align-items: center;
    padding-bottom: 28px;
}



.bottom-corner-list ul li span {
    background-color: #868686;
    width: 15px;
    height: 15px;
    border-radius: 50px;
   
    vertical-align: center;
    margin-right: 20px;
}

.active .dot {
    background-color: #333333;
}

.active p {
    color: #333333;
}

.bottom-corner-list .line-strike-off {
    height: 120%;
    width: 1.55px;
    background-color: #868686;
    position: absolute;
    left: 7px;
    top: 15px;
}

.bottom-quote {
    position: absolute;
    left: 270px;
    top: -93px;
}

.bottom-quote p {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.img {
    width: 400px;
}

.img>img {
    width: 100%;
}

.quote-icon .fa-quote-right {
    color: #333333;
    font-size: 40px;
}

.arrow {
    position: absolute;
    top: 120px;
    right: -140px;
}

.arrow>img {
    width: 30px;
}

@media screen and (max-width: 1240px) {
    .line {
        display: none;
    }
}

@media only screen and (max-width: 1258px) {
    .heading-title {
        left: 0;
        top: -0px;
    }

    .heading-title h1 {
        font-size: 6rem;
        font-weight: 600;
        color: #333333;
    }


}

@media only screen and (max-width: 1148px) {
    .img {
        width: 300px;
    }
    .main-section {
        justify-content: flex-end;
    }
    .bottom-corner-list {
        position: absolute;
        top: 400px;
        left: 400px;
    }
    .bottom-quote {
        position: absolute;
        left: 270px;
        top: -23px;
    }
    .bottom-quote p {
        font-size: 16px;
        margin-bottom: 20px;
        margin-top: 60px;
    }
    .quote-icon .fa-quote-right {
     display: none;
    }
}


@media only screen and (max-width: 1041px) {
    .main-section .left-section {
        display: none;
    }

    .main-section {
        justify-content: center;
    }
    .bottom-corner-list {
        position: absolute;
        top: 400px;
        left: 130px;
    }

}

@media only screen and (max-width: 925px) {
    .social-icons {
        right: 0 !important;
    }
}

@media only screen and (max-width: 880px) {
    .bottom-corner-list {
        position: absolute;
        top: 400px;
        left: 50px;
    }
    .main-section .left-section {
        display: none;
    }

    .main-section {
        justify-content: center;
    }
  

    .social-icons {
        right: 20px;
    }

    .heading-title h1 {
        font-size: 6rem;
        line-height: 110px;
    }



    .heading-title div {
        margin-left: 80px;
        margin-top: -20px;
    }

    .heading-title div p {
        padding-left: 20px;
        font-size: 1.2rem;
    }

    .right-section .btn-wrapper {
        left: -30px;
        top: 250px;
    }

    .navbar-container .navbar {
        height: 12vh;
    }

    .bottom {
        left: 10px;
    }

    .bottom ul li {
        font-size: .8rem;
    }

    .quote-icon .fa-quote-right {
        font-size: 16px;
    }

    .bottom ul li span {
        width: 10px;
        height: 10px;
    }

    .bottom .line-dot {
        left: 4px;
        top: 17px;
    }

    .img {
        width: 150px;
    }

    .bottom-quote {
        left: 220px;
    }

}

@media only screen and (max-width: 700px) {
    .bottom-quote p {
        font-size: 16px;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .bottom-corner-list {
        position: absolute;
        top: 460px;
        left: 50px;
    }
    .arrow {
        display: none;
    }

    .social-icons {
        display: none;
    }

    .navbar-container .navbar {
        overflow-x: auto;
    }

    .logo {
        margin-right: 40px;
    }

    .navbar-container .navbar .list {
        gap: 40px;
    }

    .navbar-container .navbar .list .list-item {
        width: 70px;
    }

    .navbar-container .navbar .list .list-item:last-child {
        margin-right: 40px;
    }

    .right-container .btn-wrapper {
        right: 0;
        left: 0px;
    }

    .right-container .btn-wrapper button {
        padding: 17px 40px;
    }

    .heading {
        margin-left: 8px;
    }
}
